<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Django App
      {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  rel="stylesheet" />
    <style>
      .bg-custom {
        background-color: #CECFC7;
        color:  #000000;
        padding: 15px;
      }
      .navbar-custom {
        background-color: #EFF8E2;
        border-radius: 30px;
        margin-bottom: 20px;
      }
      .navbar-custom .navbar-brand,
      .navbar-custom .nav-link {
        color: #000000;
      }
    </style>
  </head>
  <body class="bg-custom">
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom container shadow-lg">
      <a class="navbar-brand font-weight-bold" href="{% url "home" %}">My Django Projects</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="{% url "home" %}">Home</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="{% url 'todos' %}">Todo</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="{% url 'dashboard' %}">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="{% url 'logout' %}">Logout</a>
          </li>
          {% endif %}
          {% if not user.is_authenticated %}
          <li>
            <a class="nav-link font-weight-bold" href="{% url 'login' %}">Login</a>
          </li>
          <li>
            <a class="nav-link font-weight-bold" href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">{% block content %} {% endblock %}</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>
  </body>
</html>