{% extends "base.html" %} {% block title %}Todos{% endblock title %}
{% block content %}

<style>
    table {
        width: 75%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 10px;
        text-align: left;
        background-color: #D6FFB7;
    }

    th {
        background-color: #7AE7C7;
    }
    
    span {
        width: 100px;
        padding: 5px;
        border-radius: 5px;
    }
    .create-link {
        font-size: 20px;
        color: #fff;
        background-color: #4FB477;
        padding: 5px 10px;
        border-radius: 5px;
    }
</style>

<p>
    <h1>Todo Lists</h1>
    <a class="create-link" href="{% url 'todo_create' %}">Create a new list</a>
</p>
{% if not lists %}
    <h2>No Todo Lists Found</h2>
{% endif %}

{% for list in lists %}
    <h2>{{ list.title }}</h2>
    <form action="{% url 'delete_todo_list' list.id %}" method="POST" style="display:inline;">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Cnąć tę listę?')">🗑️ Usuń listę</button>
    </form>
    <table class="shadow-lg">
        <thead>
            <tr>
                <th class="col-10">Title</th>
                <th class="text-center">Status</th>
                <th>Remove List</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in list.todoitem_set.all %}
                <tr>
                    <td>{{ todo.title }}</td>
                    <td class="text-center">
                        {% if todo.completed %}
                            <span class="badge badge-success">Completed</span>
                        {% else %}
                            <span class="badge badge-danger">Not Completed</span>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <form action="{% url 'delete_todo_item' todo.id %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć ten item?')">🗑️ Usuń</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table><br>
{% endfor %}

{% endblock content %}