{% extends "base.html" %} {% block title %}Create List{% endblock title %}
{% block content %}
{% load static %}

<style>
    button{
        background: transparent;
        border: none;
    }
</style>

<p>
    <h1>Create New List</h1>
    <a class="create-link" href="{% url 'todos' %}">Go back</a>
</p>

<div class="table-responsive shadow-lg border border-dark">
    <form method="post">
        {% csrf_token %}

        <table class="col-12">
            <thead>
                <tr>
                    <th>
                        <label for="id_title">List Title:</label>
                        <input type="text" class="form-control" name="title" id="id_title" placeholder="Todo list title" required>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h3>Todo Items:</h3>
                        <div id="items-container">
                            <div class="item">
                                <input type="text" class="form-control" name="item_0_title" placeholder="Todo item title">
                                <input type="hidden" name="item_0_completed" value="false">
                                <label>
                                    Completed? <input type="checkbox" name="item_0_completed" value="true">
                                </label>
                            </div>
                        </div>

                        <button type="button" id="add-item"><img src="{% static "icons/circle-plus.png" %}" alt="add todo"></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary">Create List</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<script>
    let itemIndex = 1;

    document.getElementById('add-item').addEventListener('click', function() {
        let container = document.getElementById('items-container');
        let newItem = document.createElement('div');
        newItem.classList.add('item');
        newItem.innerHTML = `
            <hr>
            <input type="text" class="form-control" name="item_${itemIndex}_title" placeholder="Todo item title">
            <input type="hidden" name="item_${itemIndex}_completed" value="false">
            <label>
                Completed? <input type="checkbox" name="item_${itemIndex}_completed" value="true">
            </label>
        `;
        container.appendChild(newItem);
        itemIndex++;
    });
</script>

{% endblock content %}
