{% extends "base.html" %} {% block title %}Todos{% endblock title %}
{% block content %}

<style>
    button{
        background: transparent;
        border: none;
    }
</style>

<p>
    <h1>Todo Lists</h1>
    <a class="create-link" href="{% url 'todo_create' %}">Create a new list</a>
</p>
{% if not lists %}
<h2>No Todo Lists Found</h2>
{% endif %}

{% for list in lists %}
<h2>
    {{ list.title }}
    <form action="{% url 'delete_todo_list' list.id %}" method="POST" style="display:inline;">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Are You sure to remove the list?')">🗑️</button>
    </form>
</h2>
    <div class="table-responsive shadow-lg border border-dark">
        <table class="col-12">
            <thead>
                <tr>
                    <th class="col-8">Title</th>
                    <th class="col-2 text-center">Status</th>
                    <th class="col-1">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in list.todoitem_set.all %}
                    <tr>
                        <td>{{ todo.title }}</td>
                        <td class="text-center">
                            {% if todo.completed %}
                                <span class="badge badge-success">Completed</span>
                            {% else %}
                                <span class="badge badge-danger">Not Completed</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <form action="{% url 'change_todo_item_status' todo.id %}" method="POST" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" onclick="return confirm('Are You sure to change the components status?')">🔄️</button>
                            </form>
                            <form action="{% url 'delete_todo_item' todo.id %}" method="POST" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" onclick="return confirm('Are You sure to remove the component?')">🗑️</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

                <form action="{% url "add_todo_item" list.id %}" method="POST">
                    {% csrf_token %}
                    <tr>
                        <td>
                            <input type="text" class="form-control" name="title" placeholder="New TODO item title">
                        </td>
                        <td class="text-center">
                            Completed? <input type="checkbox" name="completed" value="true">
                        </td>
                        <td class="text-center">
                            <button type="submit" id="add-item">➕</button>
                        </td>
                    </tr>
                </form>

            </tbody>
        </table>
    </div>
{% endfor %}
{% endblock content %}
